.container
  .card
    - if @tasks.eyecatch.attached?
      .card_image
        =image_tag @tasks.eyecatch
    .card_name
      = @tasks.name
      %p= ("開始日：#{@tasks.start_day}")
      %p= ("期日：#{@tasks.end_day}")
      .dropdown
        = image_tag 'board_btn.png'
        .dropdown-content
          = link_to 'edit',edit_board_task_path(@tasks)
          = link_to 'delete', board_task_path(@tasks), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .card_description
      = @tasks.description
      .card_icon
        = image_tag 'Oval.png'