.container
  .board
    .board_name
      = @tasks.name
      .dropdown
        = image_tag 'board_btn.png'
        .dropdown-content
          = link_to 'edit',edit_board_task_path(@tasks)
          = link_to 'delete', board_task_path(@tasks), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .board_description
      = @tasks.description
      .board_icon
        = image_tag 'Oval.png'