.container
  .card
    - if @task.eyecatch.attached?
      .card_image
        = image_tag @task.eyecatch
    .card_name
      = @task.name
      %p= ("開始日：#{@task.start_day}")
      %p= ("期日：#{@task.end_day}")
      - if @task.user&.id == current_user&.id
        .dropdown
          = image_tag 'board_btn.png'
          .dropdown-content
            = link_to 'edit',edit_board_task_path(@task)
            = link_to 'delete', board_task_path(@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .card_description
      = @task.description
    .card_icon
      = image_tag @task.user.avatar_image
      .card_icon_comments
        = image_tag 'comments.png'
        %span= @task.comment_count
  %h2 コメント一覧
  .card
    - @comments.each do |comment|
      .card_icon
        = image_tag comment.user.avatar_image
        - if comment.user&.id == current_user&.id
          .dropdown
            = image_tag 'board_btn.png'
            .dropdown-content
              = link_to 'delete', board_task_comment_path(@board,@task,comment), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
      .card_description
        = comment.content
  = link_to new_board_task_comment_path(@board,@task) do
    .btn_secondary
      コメントを追加