.container
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_path(id: board.id) do 
      .board
        .board_name
          = board.name
          .dropdown
            = image_tag 'board_btn.png'
            .dropdown-content
              = link_to 'edit' , edit_board_path(id: board.id)
              = link_to 'delete', board_path(id: board.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
        .board_description
          = board.description
        .board_icon
          = image_tag 'Oval.png'
= link_to new_board_path do
  .new_board
    %h2 + Add new borad