.container
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_path(id: board.id) do
      .card
        - if board.eyecatch.attached?
          .card_image
            =image_tag board.eyecatch
        .card_name
          = board.name
          .dropdown
            = image_tag 'board_btn.png'
            .dropdown-content
              = link_to 'edit' , edit_board_path(id: board.id)
              = link_to 'delete', board_path(id: board.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
        .card_description
          = board.description
        .card_icon
          = image_tag @user.avatar_image
  = link_to new_board_path do
    .new_card
      %h2 + Add new borad