.container
  %h2= @board.name
  - @tasks.each do |task,board|
    = link_to board_task_path(@board, id:task.id) do
      .card
        - if task.eyecatch.attached?
          .card_image
            =image_tag task.eyecatch
        .card_name
          = task.name
        .card_description
          = task.description
        .card_icon
          = image_tag task.user.avatar_image
          .card_icon_comments
            = image_tag 'comments.png'
            %span= task.comment_count
  = link_to new_board_task_path(@board) do
    .new_card
      %h2 + Add new task