.container
  %h2= @board.name
  - @tasks.each do |task,board|
    = link_to board_task_path(@board, id:task.id) do
      .board
        - if task.eyecatch.attached?
          .board_image
            =image_tag task.eyecatch
        .board_name
          = task.name
        .board_description
          = task.description
        .board_icon
          = image_tag 'Oval.png'
          .board_icon_comments
            = image_tag 'comments.png'
  = link_to new_board_task_path(@board) do
    .new_board
      %h2 + Add new task